*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1, h2, h3, ul, p, input, textarea, button {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #2e2f42;
}

.menu,
.address-list {
    display: flex;
    gap: 40px;
}

.menu-link,
.address-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:first-child .menu-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.address-link {
    margin-right: 0;
    color: #434455;
}

.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.section {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.service {
    margin: 0 auto;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    position: relative;
    z-index: 2;
}

.service-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.service-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-button:hover,
.service-button:focus {
    background-color: #404bbf;
}

.features-list,
.team-list {
    display: flex;
    gap: 24px;
}

.feature-item,
.team-item {
    width: calc((100% - 72px) / 4);
    margin-right: 0;
}

.feature-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
}

.feature-title,
.team-title,
.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-desc,
.team-desc,
.portfolio-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.feature-desc {
    margin-top: 16px;
}

.team {
    background-color: #f4f4fd;
}

.team-item {
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

.team-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.team-title {
    text-align: center;
}

.team-desc {
    margin-bottom: 16px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img img {
    width: 100%;
}

.portfolio-over {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-over {
    transform: translate(0, 0);
}

.portfolio-text {
    align-items: flex-start;
    padding: 32px 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-right: 120px;
}

.footer-socials {
    margin-right: 87px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-span {
    color: #f4f4fd;
}

.footer-desc {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-section-title {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer .socials {
    gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #31D0AA;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    border: none;
    background-color: #404bbf;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    fill: #ffffff;
}

.modal-header {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    margin-bottom: 16px;
}

.input-field:first-child {
    margin-bottom: 8px;
}

.input-field:nth-child(5) {
    margin-bottom: 24px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-box {
    position: relative;
}

.form-input {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:active {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
    fill: #4d5ae5;
}

.form-textarea {
    margin-bottom: 16px;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F4266;
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: transparent;
}

.form-checkbox:checked + .form-policy .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-checkbox:checked + .form-policy .checkbox-icon {
    fill: #F4F4FD;
}

.form-policy {
    margin-bottom: 24px;
}

.form-policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.submit-btn {
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
